body {
  position: relative;
}
.dialog {
  background-color: #98bab6;
  border: 1px solid black;
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
}
.dialog-headerBox {
  border: 2px solid #c3f1f2;
  border-radius: 5px;
  background-color: #c3f1f2;
}
.dialog-headerText {
  color: #656c6b;
}
.dialog-btn-box {
  position: relative;
  display: inline-block;
  margin: 10px 15px;
}
.dialog-alert-box {
  position: relative;
  display: inline-block;
  margin: 10px 65px;
}
.dialog-btn {
  border: 2px solid #c3f1f2;
  background-color: #c3f1f2;
  width: 60px;
  border-radius: 5px;
  padding: 4px 19px;
  text-decoration: none;
  color: #656c6b;
}

.dialog-btn-submit:hover {
  border: 2px solid #5ff07d;
  background-color: #5ff07d;
}
.dialog-btn-refuse:hover {
  border: 2px solid #f49795;
  background-color: #f49795;
}
.hidden {
  display: none;
}
